<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	       http://www.springframework.org/schema/beans/spring-beans.xsd
 	       http://www.springframework.org/schema/context 
 	       http://www.springframework.org/schema/context/spring-context.xsd
 	       http://www.springframework.org/schema/tx 
 	       http://www.springframework.org/schema/tx/spring-tx.xsd
 	       http://www.springframework.org/schema/aop
 	       http://www.springframework.org/schema/aop/spring-aop.xsd">
 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/smbms?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
 	</bean>
 	<!-- 配置SqlSessionFactoryBean -->
 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<!-- 引用数据元 -->
 		<property name="dataSource" ref="dataSource"></property>
 		<!-- 引用MyBatis配置文件的配置 -->
 		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
 		<!-- 配置Sql隐射文件信息 -->
 		<!-- <property name="mapperLocations">
 			<list>
 				<value>classpath:cn/zte/smbms/dao/**/*.xml</value>
 			</list>
 		</property> -->
 	</bean>
 	<!-- 配置SqlSessionTemplate -->
 	<!-- 	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
 			<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg>
 		</bean> -->
 		
 		
 	<!-- 配置Dao -->
 	<!-- 2.sqlSessionFactory实现访问 -->
 	<!-- <bean id="userMapper" class="cn.zte.smbms.dao.user.UserMapperImpl">
 		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
 	</bean> -->
 	<!-- 3.以接口实现数据库的访问 -->
 	<!-- <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
 		<property name="mapperInterface" value="cn.zte.smbms.dao.user.UserMapper"></property>
 		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
 	</bean>
 	<bean id="billMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
 		<property name="mapperInterface" value="cn.zte.smbms.dao.bill.BillMapper"></property>
 		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
 	</bean> -->
 	<!-- 4.自动扫描 -->
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="basePackage" value="cn.zte.smbms.dao"></property>
 	</bean>
 	<!-- 配置service -->
 	<!-- <bean id="userService" class="cn.zte.smbms.service.user.UserServiceImpl">
 		<property name="userMapper" ref="userMapper"></property>
 	</bean> -->
 	<context:component-scan base-package="cn.zte.smbms.service"></context:component-scan>
 	
 	
 	<!-- <bean id="providerMapper" class="cn.zte.smbms.dao.provider.ProviderMapperImpl">
 		<property name="sqlSession" ref="sqlSessionTemplate"></property>
 	</bean>
 	<bean id="providerService" class="cn.zte.smbms.service.provider.ProviderServiceImpl">
 		<property name="providerMapper" ref="providerMapper"></property>
 	</bean> -->
 	<bean id="providerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
 		<property name="mapperInterface" value="cn.zte.smbms.dao.provider.ProviderMapper"></property>
 		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
 	</bean>
 	<bean id="providerService" class="cn.zte.smbms.service.provider.ProviderServiceImpl">
 		<property name="providerMapper" ref="providerMapper"></property>
 	</bean>
</beans>