<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	       http://www.springframework.org/schema/beans/spring-beans.xsd
 	       http://www.springframework.org/schema/context 
 	       http://www.springframework.org/schema/context/spring-context.xsd
 	       http://www.springframework.org/schema/tx 
 	       http://www.springframework.org/schema/tx/spring-tx.xsd
 	       http://www.springframework.org/schema/aop
 	       http://www.springframework.org/schema/aop/spring-aop.xsd">
 	 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/smbms?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
 	 </bean>
 	<!-- 配置SqlSessionFactoryBean -->
 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<!-- 引用数据元 -->
 		<property name="dataSource" ref="dataSource"></property>
 		<!-- 引用MyBatis配置文件的配置 -->
 		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
 		<!-- 配置Sql隐射文件信息 -->
 		<!-- <property name="mapperLocations">
 			<list>
 				<value>classpath:cn/zte/smbms/dao/**/*.xml</value>
 			</list>
 		</property> -->
 	</bean>
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="basePackage" value="cn.zte.smbms.dao"></property>
 	</bean>
 	<context:component-scan base-package="cn.zte.smbms.service"></context:component-scan>
 	<!-- 定义事物管理器 -->
 	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
 		<property name="dataSource" ref="dataSource"></property>
 	</bean>
 	<!-- <tx:advice id="txAdvice">
 		<tx:attributes>
 			<tx:method name="add*" propagation="REQUIRED"></tx:method>
 			<tx:method name="update*" propagation="REQUIRED"></tx:method>
 			<tx:method name="del*" propagation="REQUIRED"></tx:method>
 			<tx:method name="find*" propagation="SUPPORTS"></tx:method>
 			<tx:method name="*" propagation="REQUIRED"></tx:method>
 		</tx:attributes>
 	</tx:advice>
 	定义切面
 	<aop:config>
 		定义切入点
 		<aop:pointcut expression="execution(* cn.zte.smbms.service..*.*(..))" id="pointcut"></aop:pointcut>
 		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"></aop:advisor>
 	</aop:config> -->
 	<tx:annotation-driven/>
</beans>