<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 	       http://www.springframework.org/schema/beans/spring-beans.xsd
 	       http://www.springframework.org/schema/context 
 	       http://www.springframework.org/schema/context/spring-context.xsd
 	       http://www.springframework.org/schema/tx 
 	       http://www.springframework.org/schema/tx/spring-tx.xsd
 	       http://www.springframework.org/schema/aop
 	       http://www.springframework.org/schema/aop/spring-aop.xsd">
 	       <!-- 引入资源文件 -->
 	       <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 	       		<property name="location" value="classpath:database.properties"></property>
 	       </bean>
 	       <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${driver}"></property>
			<property name="url" value="${url}"></property>
			<property name="username" value="${user}"></property>
			<property name="password" value="${password}"></property>
	 	 </bean>
 	<!-- 配置SqlSessionFactoryBean -->
 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<!-- 引用数据元 -->
 		<property name="dataSource" ref="dataSource"></property>
 		<!-- 引用MyBatis配置文件的配置 -->
 		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
 	</bean>
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="basePackage" value="cn.zte.smbms.dao"></property>
 	</bean>
 	<context:component-scan base-package="cn.zte.smbms.service"></context:component-scan>
 	<!-- 定义事物管理器 -->
 	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
 		<property name="dataSource" ref="dataSource"></property>
 	</bean>
 	<tx:annotation-driven/>
</beans>